

#play {
	background-image: url(play.svg);
}
#play.paused {
    background-image: url(pause1.svg);
}
#stop {
    background-image: url(stop.svg);
}
#stop.stopped {
    background-image: url(stop1.svg);
}

